.App {
  text-align: center;
  background-color: #fd0;
  height: 700px;
}
.navbar{
  color: #fd0;
  background-color: black;
  z-index: 100;
}
.navtext{
  color: #fd0;
  font-size: 15px;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 30px;
  text-decoration: none;
}
.navtextlogo{
  color: #fd0;
  font-size: 50px;
  font-weight: 800;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: none;
  /* position: absolute; */
  right: 2%;
}
.actiontext{
  border: 2px solid black;
  border-radius: 10%;
  width: 200px;
  align-items: center;
  color: #fd0;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
}
.outeractiontext{
  display:flex;
  align-items: center;
  justify-content: center;
}
